@model PagedResult<StudentManagementSystem.Models.StudentsDetailsViewModel>



    <h4 class="mt-3">Student List</h4>
    <hr />
<div class="d-flex justify-content-end mb-3">
    <a asp-controller="Students" asp-action="AddStudent" class="btn btn-primary">Add New Student</a>
</div>
<table class="table">
    <thead>
        <tr>
           
            <th>
             Student Name
            </th>
            <th>
              UserName
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_UserName)
            </td>
            <td>
                @Html.ActionLink("Result", "Result", new { id=item.StudentId }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
